<h1> Pro Login </h1>

<p><%= flash[:error] %></p>

<%= form_with model: @pro do |f| %>
    <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    </p>
    <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
    </p>
    <%= f.submit "Login!" %>
    <% end %>