<h1> Pro Login </h1>

<%= form_tag('/sessions') do |f| %>
    <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    </p>
    <p>
    <%= f.label :password %>
    <%= f.password_field :password_digest %>
    </p>
    <%= f.submit "Login!" %>
    <% end %>