<%= form_for @user do |f| %>
    <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    </p>
    <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
    </p>
    <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
    </p>
    <p>
    <%= f.label :weight %>
    <%= f.select :weight, options_for_select(['Extremely Underweight', 'Underweight', 'Low Ideal', 'Ideal', 'High Ideal', 'Overweight', 'Obese'])%>
    </p>
    <p>
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select(['Bio Female', 'Bio Male', 'Other', 'Trans Man', 'Trans Woman']) %>
    </p>
    <p>
    <%= f.label :health %>
    <%= f.select :health, options_for_select(['Great', 'Very Good', 'Okay', 'Not Great', 'Poor'])%>
    </p>
    <p>
    <%= f.label :diet_type %>
    <%= f.select :diet_type, options_for_select(['Omnivorous', 'Vegetarian', 'Vegan', 'Gluten Free', 'Keto', 'Paleo', 'Carnivorous'])%>
    </p>
    <p>
    <%= f.label :restrictions %>
    <%= f.text_field :restrictions %>
    </p>
    
    <p>
    <%= f.label :pros %>
    
    <%= f.collection_select :pro_id, Pro.all, :id, :name    %>
    </p>
    <p>
    <%= f.submit  %>
    OR
    <%= link_to "Sign in with Google", "/auth/google/callback" %>
    </p>
    <% end %>