<%= form_for Meal.new do |f| %>
    <p>
    "Name of the meal:"
        <%= f.label :name  %>
        <%= f.text_field :name %>
        </p>
        <p>
        "For 1 to 10 how healthy would you say your meal is:"
        <%= f.label :nutrition_level  %>
        <%= f.text_field :nutrition_level %>
        </p>
        <p>
        "What diet type does the meal match:"
        <%= f.label  :diet_type%>
        <%= f.select :diet_type, options_for_select(['Omnivorous', 'Vegetarian', 'Vegan', 'Gluten Free', 'Keto', 'Paleo', 'Carnivorous'])%>
        </p>
        <p>
        "What are the ingredients of the meal:"
        <%= f.label :ingredients %>
        <%= f.text_field :ingredients %>
        </p>
        <p>
        <%= f.label "Add allergies" %>
        <%= f.text_field :allergens %>
        </p>
        <%= f.submit "Submit!" %>
        <% end %>