<h1> Sign up as new pro! </h1>

<%= form_for(@pro) do |f| %>
    <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    </p>
    <p>
    <%= f.label :password %>
    <%= f.password_field :password_digest %>
    </p>
    <%= f.submit "Sign up!" %>
    <% end %>