<!DOCTYPE html>
<html>
  <head>
    <title>DietApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if false %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <% if false %>
      Just some maintenance for this application html file.
      1. you wanted the users name to print but had it before the yield tag. I assume it was because you wanted it in the header of the file. I moved it to the footer to do basically the same thing. We can move it anywhere we want but I will leave it here for now. I changed your code from two ifs statments to one if statement and including the current_user code in the (if logged_in?) helper. You can call the current_user tag anywhere. Including it here and just adding the .name to it gets the name of the user.
      2. I moved your code into a footer tag. I think that is what you were going for but sometimes people are not familiar with some html tags. No big deal.
    <% end %>

    <div class="nav">
      <% if logged_in? %>
        <h4> <%= "Hello #{current_user.name}!" %> </h4>
        <div>
          <%= link_to "Profile", "/users/:id" %>
        </div>
        <div>
          <a href="/logout">Logout</a>
        <div>
      <% end %>
    </div>
  </footer>
</html>
