<!DOCTYPE html>
<html>
  <head>
    <title>DietApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <% if session[:current_user_id] %>
    <h4>
     <%= "Hello #{current_user}!" %>
    </h4>
    <% end %>
    <%= yield %>
    <div class="nav">
    <% if logged_in? %>
    <li><%= link_to "Profile", "/users/:id" %></li>
      <a href="/logout">Logout</a>
      
      <% end %>
      </div>
  </body>
</html>
